    </div>
    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid text-center footer">
        <%
        messages = [
            "<i class='glyphicon glyphicon-screenshot'></i>&nbsp;&nbsp;Déclenchez un nouveau scan et observez vos données apparaître en temps réel.",
            "<i class='glyphicon glyphicon-education'></i>&nbsp;&nbsp;Besoin d'aide ? Consultez la documentation du moteur open source pour maîtriser chaque module.",
            "<i class='glyphicon glyphicon-flash'></i>&nbsp;&nbsp;Activez le mode clair pour comparer votre expérience avec le thème Minority Report.",
            "<i class='glyphicon glyphicon-film'></i>&nbsp;&nbsp;Ajoutez vos écrans préférés et composez votre propre war-room L'oeil De Doud.",
            "<i class='glyphicon glyphicon-heart'></i>&nbsp;&nbsp;Envie de contribuer ? Rejoignez la communauté open source sur GitHub." 
        ]

        import random
        message = messages[random.randint(0, len(messages)-1)]
        %>
        <span>${message}</span>
      </div>
    </footer>

    </body>
</html>
